.App {
  text-align: center;
}

:root {
  --primary-color: #c72727;
  --secondary-color: #f99500;
  --light-color: #f3f3f3;
  --dark-color: #333;
  --max-width: 1100px;
}

.category {
  --cooking-color: #f99500;
  --coding-color: #a66bbe;
  --football-color: #099cff;
}

* {
  margin-top: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
  line-height: 1.5;
  background: var(--light-color);
}

a {
  color: #333;
  text-decoration: none;
}

p {
  margin: 0.5rem 0;
}

ul {
  list-style: none;
}

img {
  width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Staatliches', cursive;
  margin-bottom: 0.55rem;
  line-height: 1.3rem;
}

/* Utility  */
.container {
  max-width: var(--max-width);
  margin: auto;
  padding: 0 2rem;
  overflow: hidden;
}

.category {
  display: inline-block;
  color: white;
  font-size: 0.55rem;
  text-transform: uppercase;
  padding: 0.4rem 0.6rem;
  border-radius: 15px;
  margin-bottom: 0.5rem;
}

.category-cooking {
  background: var(--cooking-color);
}
.category-coding {
  background: var(--coding-color);
}
.category-football {
  background: var(--football-color);
}

.btn {
  display: inline-block;
  border: none;
  background: var(--dark-color);
  color: white;
  padding: 0.5rem 1.5rem;
}

.btn-light {
  background: var(--light-color);
}
.btn-primary {
  background: var(--primary-color);
}
.btn-secondary {
  background: var(--secondary-color);
}

.btn:hover {
  opacity: 0.8;
  transition: all 0.4s;
}

.btn-block {
  display: block;
  width: 100%;
  text-align: center;
}

.card {
  background: white;
  padding: 1rem;
  text-align: left;
}

.bg-dark {
  background: var(--dark-color);
  color: white;
}
.bg-primary {
  background: var(--primary-color);
  color: white;
}
.bg-secondary {
  background: var(--secondary-color);
  color: white;
}

.bg-dark h2,
.bg-dark h2,
.bg-dark h2,
.bg-dark a,
.bg-primary h2,
.bg-primary h2,
.bg-primary h2,
.bg-primary a,
.bg-secondary h2,
.bg-secondary h2,
.bg-secondary h2,
.bg-secondary a {
  color: white;
}

.py-1 {
  padding: 1.5rem 0;
}
.py-2 {
  padding: 2rem 0;
}
.py-3 {
  padding: 3rem 0;
}
.p-1 {
  padding: 1.5rem;
}
.p-2 {
  padding: 2rem;
}
.p-3 {
  padding: 3rem;
}

.l-heading {
  font-size: 3rem;
  padding: 0.5rem;
  line-height: 3rem;
}

.list li {
  padding: 0.5rem 0;
  border-bottom: #555 dotted 1px;
}

.list li a:hover {
  color: var(--primary-color) !important;
}

/* Inner page grid container */
.page-container {
  display: grid;
  grid-template-columns: 5fr 2fr;
  margin-top: 2rem;
  margin-bottom: 0.5rem;
  grid-gap: 1.5rem;
}

.page-container > *:first-child {
  grid-row: 1 / span 3;
}

/* Navigation */
#main-nav {
  background: #fff;
  position: sticky;
  top: 0;
  z-index: 2;
}

#main-nav .container {
  display: grid;
  grid-template-columns: 5fr 2fr;
  padding: 1rem;
  align-items: center;
}

#main-nav .logo {
  width: 250px;
}

#main-nav .logo h1 {
  font-size: 4rem;
}

#main-nav .logo #NC {
  color: red;
}

#main-nav ul {
  justify-self: end;
  display: flex;
}

#main-nav ul li {
  padding: 0.75rem;
  font-weight: bold;
  text-transform: capitalize;
}
/* ADD CURRENT STATE TO THE NAVBAR */
/* #main-nav ul li.current {
  background: var(--primary-color);
  color: blue;
} */

#main-nav ul li:hover {
  background: var(--light-color);
  color: var(--dark-color);
  transition: all 0.5s;
}

#main-nav .social {
  justify-self: center;
}

#main-nav .social i {
  color: #777;
  margin-right: 0.5rem;
}

/* Showcase section */
#showcase {
  color: #fff;
  background: #333;
  padding: 2rem;
  position: relative;
}

/* #showcase:before {
  content: '';
  background: url('https://source.unsplash.com/400x400/?cooking') no-repeat
    center center / cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.4;
} */

/* Articles Pages */

#home-articles .articles-container h3:hover {
  background: var(--light-color);
  transition: all 0.2s;
}
#home-articles .articles-container > *:nth-child(2) h3:hover,
#home-articles .articles-container > *:nth-child(7) h3:hover {
  background: rgb(65, 65, 65);
  transition: all 0.2s;
}

#home-articles .articles-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
}

#home-articles .articles-container > *:first-child,
#home-articles .articles-container > *:last-child {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1rem;
  grid-column: 1 / span 2;
  align-items: center;
}

#home-articles .articles-container > *:last-child {
  grid-column: 2 / span 2;
}

#home-articles .articles-container > *:nth-child(2),
#home-articles .articles-container > *:nth-child(7) {
  background: var(--dark-color);
  color: #fff;
}

#home-articles .articles-container > *:nth-child(2) h3,
#home-articles .articles-container > *:nth-child(7) h3 {
  color: #fff;
}

#home-articles .articles-container > *:nth-child(4) {
  /* Would be nice to reverse the image and text */
}

#home-articles .articles-container > *:nth-child(9) {
  background: var(--primary-color);
  color: #fff;
}

#home-articles .articles-container > *:nth-child(2) img,
#home-articles .articles-container > *:nth-child(6) img,
#home-articles .articles-container > *:nth-child(7) img,
#home-articles .articles-container > *:nth-child(8) img,
#home-articles .articles-container > *:nth-child(9) img {
  display: none;
}

#page-buttons .btn {
  margin: 0 1rem;
}

/* Articles */

/* #article .meta {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #eee;
  padding: 0.5rem;
} */

/* #article .meta .category {
  margin-top: 0.4rem;
} */

/* Comments and Likes */

.comment-container {
  /* border: springgreen 2px solid; */
  display: flex;
  flex-direction: column;
  text-align: left;
}

.comment-card {
  /* border: tomato 1px solid; */
  background: #fff;
  margin: 0.5rem 0;
  padding: 0.5rem;
}

.comments-header-footer {
  display: flex;
  align-items: center;
}

.comments-header .btn {
  /* margin-left: 2rem; */
}

.comment-card #likes {
  margin: 0 2rem;
}

/* footer */

#main-footer {
  background: var(--dark-color);
  color: #fff;
  margin-top: 1rem;
}

#main-footer .footer-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1.5rem;
}

#main-footer .footer-container > * p,
#main-footer .footer-container > * a,
#main-footer .footer-container > * h2 {
  text-align: left;
  color: #fff;
}

#main-footer .footer-container > *:first-child #NC {
  color: red;
}

#main-footer .footer-container > *:last-child {
  background: #444;
  grid-column: 1 / span 4;
  padding: 0.5rem;
  font-size: 0.75rem;
}

#main-footer .footer-container > *:last-child p {
  text-align: center;
}
