@media (max-width: 768px) {
  /* Navigation */
  #main-nav .container {
    grid-template-columns: 1fr;
    gap: 1.2rem;
    /* padding: 0.5rem; */
  }

  #main-nav .logo,
  #main-nav .nav-links {
    justify-self: center;
    margin-top: 0.5rem;
  }
  #main-nav ul {
    margin-bottom: 0;
  }

  #home-articles .articles-container {
    grid-template-columns: repeat(2, 1fr);
  }

  #home-articles .articles-container > *:first-child,
  #home-articles .articles-container > *:nth-child(6),
  #home-articles .articles-container > *:last-child {
    grid-template-columns: 1fr;
    grid-column: 1;
  }

  #home-articles .articles-container > *:nth-child(5) {
    grid-column: 1 / span 2;
  }

  #home-articles .articles-container > *:last-child {
    grid-column: 2;
  }

  .page-container {
    grid-template-columns: 1fr;
  }

  #categories,
  #sign-up {
    display: none;
  }

  .user-card {
    margin-left: 1rem;
    margin-right: 1rem;
  }
}

@media (max-width: 600px) {
  #showcase .showcase-container,
  #home-articles .articles-container,
  #main-footer .footer-container {
    grid-template-columns: 1fr;
  }
  #home-articles .articles-container > *:nth-child(n) {
    grid-column: 1;
  }

  #main-footer .footer-container *:last-child {
    grid-column: 1;
  }

  #main-footer .footer-container > :first-child,
  #main-footer .footer-container > :nth-child(2),
  #main-footer .footer-container > :nth-child(3) {
    border-bottom: #444 dotted 1px;
    padding-bottom: 1rem;
  }

  .user-grid {
    grid-template-columns: 1fr;
  }
}
